In [1]:
print('Assalam_o_alaikum Bilal!')
a=7
print(a)

Assalam_o_alaikum Bilal!
7

In [3]:
print(2530)

2530

In [4]:
print("Bilal")

Bilal

In [6]:
a = 100
#print(a)
print(a)
b = "Python"
print(b)

100
Python

In [8]:
'''It's my name
"Bilal" '''
print(6)

6

In [9]:
print("It's My Registration No. ")
# print(it my  registration number)
print("FA20-BSE-044")

It's My Registration No.
FA20-BSE-044

In [10]:
print("""It's my registraion and section""")
'''for multi-line comment, you can use # with every line or
simply use triple inverted commas(multi-line string).
ar
sar
ahghjj 
'''
#single line

print("Bilal FA20-BSE-044 (B).")

It's my registraion and section
Bilal FA20-BSE-044 (B).

In [17]:
x = "bilal"
y = "FA20-BSE-044"
print(x)
print(y)
print(x,y)

bilal
FA20-BSE-044
bilal FA20-BSE-044

In [16]:
myvariable = "Bilal"
print("Bilal")

Bilal

In [19]:
a = "Bilal"
b = 'ch,'
print(a,b)
print(a,',',b)

Bilal ch,
Bilal , ch,

In [23]:
camelCase = "Bilal"
snake_case = "FA20-BSE-044"
PascalCase = "Section (B)"
print(camelCase, snake_case, PascalCase)

Bilal FA20-BSE-044 Section (B)

In [28]:
x, y, z ="Bilal",44,"Section-B"
print(x,y,z)

Bilal 44 Section-B

In [29]:
x = y = z = "Bilal"
print(x)
print(y)
print(z)

Bilal
Bilal
Bilal

In [30]:
x=5
y=10
print(id(x))

9793216

In [31]:
string_var = "Programming"
first_var = 20
float_var = 18.23
bool_var = False

print(string_var)
print(first_var)
print(float_var)
print(bool_var)

Programming
20
18.23
False

In [32]:
Var1 = 5
var1 = 1
print(var1)
print(Var1)
var2 = 2.5
print(type(var2))
var3 = """Bilal"""
print(type(var3))

1
5
<class 'float'>
<class 'str'>

In [38]:
first = "123"
print(type(first))
first = int(first)
print(first)
print(type(first))

<class 'str'>
123
<class 'int'>